@import url('https://fonts.goggleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins',sans-serif;
  scroll-behavior:smooth;
}
.homepage
{
  position:relative;
  width:100%;
  height:100vh;
  padding:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
.homepage::before
{
  content:' ';
  position:absolute;
  bottom:0;
  width:100%;
  height:250px;
  background:linear-gradient(to top,#000000,transparent);
  z-index:1000;
}
.homepage img
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
}

#text
{
  position:absolute;
  color:#fff;
  white-space: nowrap;
  font-size:6.0vw;
  transform:translateY(-100px);
}

.intro
{
    position:relative;
    padding: 100px;
    background: #000000; 
}
.intro h3
{
    font-size: 8.5em;
    margin-bottom: 10px;
    color:#fff;
}
.intro h4
{
    font-size: 3.0em;
    margin-bottom: 10px;
    color:#fff;
    line-height: 40px;
    text-align: justify;
}
.intro p{
    font-size:2.0em;
    color:#fff;
    line-height:30px;
    text-align: justify;
}
.typewriter::after{
    content:'|';
    position:absolute;
    right: 0;
    color:white;
    background-color:black;
    width:100%;
    animation: typing 3s steps(1000) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 10%;
    }
}

@keyframes line{
    80%{
        color:transparent;
    }
}
/* orbit*/
.orbit_container{

    width: 100vw;
    height: 160vh;
    overflow: hidden;
}

.outer-circle {
    position: relative;
    width: 150vmin; /* Adjust the size of the outer circle as needed */
    height: 150vmin;
    margin:auto;
    background: url('img/outer.png') center center no-repeat;
    background-size: cover;
    animation: rotate 20s linear infinite; /* Adjust the animation duration as needed */
}
.inner-circle {
    position: absolute;
    margin:auto;
    border-radius: 50%;
    width: 150vmin; /* Adjust the size of the inner circle as needed */
    height: 150vmin;
    background: url('img/Inner.png') center center no-repeat;
    background-size: cover;
    animation: rotate 20s linear infinite; /* Adjust the animation duration as needed */
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 150vmin; /* Adjust the size of the info div as needed */
    height: 150vmin;
    background: url('img/1in114.png') center center/cover no-repeat;
    z-index: 3; /* Set an even higher z-index for the info div */
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/*      4 container menu     */
:root{
    --primary: rgb(0, 0, 0);
    --secondary:#ffffff;
    --border: 1px solid #ffffff57;

    --ease: cubic-bezier(0.255, 0.655, 0.02, 0.995);
    --transition-width: width 0.64s var(--ease);
    --transition-opacity: opacity 1.2s var(--ease);
    --transition-transform: transform 1.2s var(--ease);
}
html{
    font-size:calc(100vw / 1920 * 10);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}
h1
{
    font-size:48rem;
    line-height:0.8;
}
h2
{
    font-size:6rem;
    text-transform: uppercase;
}

.chapter_col_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px; /* Adjust the radius as needed for rounded corners */
    background-color: #000000; /* Change the background color */
    color: #fff; /* Change the text color */
    border: 1px solid #000000; /* Change the border color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.chapter_col_button:hover {
    background-color: #ffffff; /* Change the background color on hover */
    border: 1px solid #ffffff; /* Change the border color on hover */
}
p{
    font-size:3.2rem;
}
span{
    font-size:1.6rem;
    text-transform:uppercase;
}
.app{
    color:var(--secondary);
    padding:2rem;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.--mobile {
    display:none;
}
.chapter{
    position:relative;
    width:100%;
    height: 90vh;
    border: va(--border);
    border-radius:3.2rem;
    overflow:hidden;
}
.chapter_header_list{
    display:flex;
    width:100%;
}
.chapter_header_list_item{
    font-size: 3.2rem;
    padding:0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.chapter_header_list_item:nth-child(1){
    flex:1;
}
.chapter_header_list_item:nth-child(2){
    flex:0.25;
}
.chapter_header_list_item:nth-child(3){
    flex:1;
    text-align: right;
}
.chapter_header_list_item:nth-child(4){
    flex:0.25;
}
.chapter_container{
    display:flex;
    width:100%;
    height:inherit;
}
.chapter_col{
    position:relative;
    width:60rem;
    border-right: var(--border);
    padding: 8rem 4 rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    cursor:pointer;

    transition:var(--transition-width);
    overflow: hidden;
}
.chapter_col:last-child{
    border:none;
}
/*? Active State for handling animation interaction */
.chapter_col.active{
    width:200rem;
    transition: var(--transition-width);
    transform-origin:left;
}
.chapter_col.active .chapter_col_media{
    opacity: 1;
    transition: var(--transition-opacity);
}
.chapter_col_media{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;

    transition: var(--transition-opacity);
}
.chapter_col_media::after{
    content:' ';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:1;

    background-color: var(--primary);
    opacity:0.4; /* backgorund image的颜色 */
}
img.chapter_col_image {
    position:relative;
    width:inherit;
    height:inherit;
    object-fit:cover;
    object-fit: left bottom;
}

.chapter_col_caption {
    text-align:center;
    width: 24rem;
}
.chapter_col_title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    html{
        font-size: calc(100vw / 768 * 10);
    }
    h1{
        font-size:20rem;
    }
    .app{
        padding:1.6rem;
    }
    .--desktop{
        display:none;
    }
    .--mobile{
        display:block;
    }
    .chapter{
        height:100%;
    }
    .chapter_header_list_item:nth-child(1){
        flex: 1;
    }
    .chapter_container{
        display:flex;
        flex-direction: column;
    }
    .chapter_col{
        width: 100%;
        height: calc(25vh -3.2rem);
        flex-direction: row;
        align-items:flex-end;
        padding: 2rem;
        border-right:none;
        border-bottom: var(--border);
    }
    .chapter_col_media{
        position: relative;
        left:0;
        top:0;
        width: 15rem;
        height:20rem;
        z-index: -1;
        opacity:1;
        flex:0.75;
    }
    .chapter_col_title{
        flex:1;
        align-items:flex-start;
    }
    .chapter_col_title h2{
        margin-bottom:2rem;
    }
    .chapter_col_number{
        flex:0.5;
        text-align:right;
    }
}